@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800;900&display=swap');

:root {
    --white: #ffffff;
    --body: #545d6d;
    --dark: #202631;
    --border-color: rgba(0, 0, 0, 0.10);
    --border-width: 1px;
    --border-radius: 30px;
}

/* reset & helpers */


/* navbar */


/* hero */


/* btn */


/* intro */


/* Service */


/* wrok */


/* about */


/* reviews */


/* contact */


/* insta posts */


/* footer */

